body {
    font-family: "Noto Sans", "Helvetica Neue", "Helvetica", sans-serif;
    background-color: rgb(88, 90, 93);
}

#main-container {
    width: 60%;
    margin: auto;
    height: 100vh;
}

@media screen and (max-width: 1500px) {
    #main-container {
        width: 80%;
        margin: auto
    }
}

@media screen and (max-width: 1120px) {
    #main-container {
        width: 95%;
        margin: auto
    }
}
