#title {
    width: 100%;
    color: white;
    text-align: center;
    font-weight: 700;
    font-size: 48pt;
}

#content {
    display: flex;
    height: 80%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 16pt;
}

#buttons {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 8pt;
    align-items: flex-start
}

#buttons .btn {
    display: grid;
    grid-template-rows: 128px auto;
    text-align: center;
}
